.slide_menu {
  display: flex;
  /* overflow: none; */
  /* overflow: hidden; */
  /* overflow: scroll; */
  /* overflow: auto; */

  &__list {
    display: flex;
    overflow: auto;
    // padding: 0 24px;
    padding-left: 24px;
    padding-right: 24px;

    @media screen and (min-width: 1120px) {
      flex-wrap: wrap;
      padding-left: 24px;
      padding-right: 0;
    }
  }

  &__element {
    display: flex;
    align-items: center;
    padding: 6px 10px;

    &--active {
      border: 1px solid #b8ffec;
      border-radius: 6px;
      color: #7e7e82;
      background-color: #fff;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration-line: none;
    white-space: nowrap;
    padding: 0px 15px;
    color: #7e7e82;

    /* color: red; */
  }
}
