.article {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  // flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  // &__inner {
  //   padding-bottom: 32px;
  // }

  &__text_container {
    padding: 0 24px;
    height: 100%;
    // flex-basis: 0;
    // flex-grow: 1;
  }


  &__text {
    overflow:hidden;
    // max-height: 12rem;
    // padding-bottom: 2rem;
    /* text-overflow: hidden; */
    /* line-height: 1rem; */
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    // white-space: pre-wrap;
    // white-space: pre-line;
    // white-space: pre;
    white-space: break-spaces;
  }


  &__image_container {
    display: flex;
    flex-basis: 0;
    // flex-grow: 1;
    @media screen and (min-width: 768px) {
      padding-right: 24px;
    }
  }

  &__image {
    margin: 0;
    padding: 0;
    border-radius: 5px;
    flex-basis: 0;
    min-width: 100%;
    // flex-grow: 1;
    @media screen and (min-width: 768px) {
      min-width: '';
    }

  }

  &__link {
    display: flex;
    justify-content: flex-start;
  }

}

