$bg-color: #fff;
$bg-color-2: #f8f8f8;
$button-background-color-1: #FF3E79;


$breakpoint_smartphone: 320px;
$breakpoint_tablet: 768px;
$breakpoint_note: 1366px;
$breakpoint_pc: 1440px;

$modal_feedback_width: 440px;
